#profile-page{
    background-image: url('https://img.freepik.com/free-vector/programming-concept_82472-703.jpg?w=900&t=st=1707597640~exp=1707598240~hmac=475dafd44fed33b369c83f8d5cd3c66dd3ed2bdf848b0f7e72fb3d03e99c462f');
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}